<%= form_with(model: @user) do |f| %> 
  <div class="row mb-4 mt-5">
    <div class="col">
      <div class="form-outline">        
        <%= f.label :first_name, class: "form-label" %>          
        <%= f.text_field :first_name, class: "form-control" %>
        <%= @user.errors[:first_name] if @user.errors.any? %>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <%= f.label :last_name, class: "form-label" %>
        <%= f.text_field :last_name, class: "form-control" %>
        <%= @user.errors[:last_name] if @user.errors.any? %>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %> 
    <%= @user.errors[:email] if @user.errors.any? %>  
  </div>

  <div class="form-outline">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= @user.errors[:password] if @user.errors.any? %>      
  </div>
  
  <div class="form-outline mt-2">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>      
    <%= @user.errors[:password_confirmation] if @user.errors.any? %>
  </div>

  <!-- Submit button -->
  <%= f.submit 'submit', class: "btn btn-primary btn-block mb-4 mt-4"%>
  

<% end %>
